$primary-color: #00f !default; // blue
$font-stack1: 'Roboto', 'sans-serif' !default;
$font-stack2: 'Open Sans', 'sans-serif' !default;
$colorWhite: #F5F5F5 !default; // white
$darkStyle: #323232 !default; // darker grey
$colorBlack: #000000 !default; // color black
