.main .gallery img {
    max-width: 100%;
}

//desktop
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
}

//surfplatta
@media (max-width: 992px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
//mobil
@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
