* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background: url('../../../assets/img/landscape.jpg') no-repeat center fixed;
    background-size: cover;
    height: 300px;
}

.site-header a, .site-header a:visited {
    color: #2b2e30;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
}

/* Footer */
.site-footer {
    background: #484F53;
    color: #2b2e30;
    padding: 2em;
}

/* Create 2 equal columns that floats next to each other */
.social {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: center;
}

.social-text {
    float: left;
    width: 50%;
    padding: 15px;
    border-left: 1px solid white;
    text-align: center;
}

/* Clear floats after the columns */
.site-footer:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .social {
    width: 100%;
  }
  .social-text  {
      width: 100%;
      border-left: 0;
  }
}

.site-footer a {
    color: #f0f0f0;
}

.logo {
    float: left;
    padding: 1em;
}

.logo > a > img {
    width: 100px;
    height: 100px;
    margin-right: 100px;
}

.title {
    padding-top: 1em;
}

.social a {
    padding: 1em;
    text-align: center;
}
