* {
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background: url('../../../assets/img/landscape.jpg') no-repeat center fixed;
    background-size: cover;
}

.site-header a, .site-header a:visited {
    color: #2b2e30;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
}

/* Footer */
.site-footer {
    display: flex;
    background: #484F53;
    color: #2b2e30;
    padding: 2em;
    flex-wrap: wrap;
}

.social {
    display: flex;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-right: 1px solid white;
    flex-wrap: wrap;
}

.social-text {
    padding: 15px;
    text-align: center;
    width: 50%;
    flex-wrap: wrap;
}

/* Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */


.site-footer a {
    color: #f0f0f0;
}

.logo {
    float: left;
    padding: 1em;
}

.logo > a > img {
    width: 100px;
    height: 100px;
    margin-right: 100px;
}

.title {
    padding-top: 1em;
}

.social a {
    padding: 1em;
    text-align: center;
}
