@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/scss/base';
@import '../../shared/scss/variables';


@import 'report';
@import 'kmom';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import 'old';

* {
    font-family: $font-stack1;
    color: $colorWhite;
}

.sidebar a,
.site-header #nav a {
    color: $colorWhite;
}

.main p {
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-stack2;
}

.site-footer {
    .social {
        font-size: 20px;
    }
}

.main {
    background-color: $darkStyle;
}

.site-footer {
    background-color: $colorBlack;
}

.site-header {
    flex: 0 0 auto;
    background: url('../../../assets/img/landscape.jpg') no-repeat center fixed;
    background-size: cover;
    filter: grayscale(60%);
}

.bildStart {
    filter: grayscale(60%);
}

.container p {
    a {
        color: $colorWhite;
    }
}
