@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/scss/base';
@import '../../shared/scss/variables';

@import 'report';
@import 'kmom';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import 'old';

* {
    font-family: $font-stack1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-stack2;
}

.main {
    background: $colorWhite;
}

.main p {
    margin-bottom: 1em;
}

.site-footer {
    p {
        color: $colorWhite;
    }
    h3 {
        color: $colorWhite;

    }
    .social {
        font-size: 20px;
    }
}

.site-header {
    flex: 0 0 auto;
    background: url('../../../assets/img/landscape.jpg') no-repeat center fixed;
    background-size: cover;
}
